#logo {
  width: 190px;
  z-index: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #191919;
  zoom: 125%;
  user-select: none;
  margin: 0px;
  border-radius: 0;
}

.displaynone{
  display: none;
}